*{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
 }

 .nav_bar {
    margin-left: 57%;
    font-size: 20px;
    list-style: none;
    display: flex;
}

.nav_bar li{
    margin-left: 5%;
    text-decoration: none;
    font-weight: 400;
    color: black;
}

.nav_bar li a{
    text-decoration: none;
    color: black;
}

.nav_bar li a:hover{
    color: #EC652B;
}

.s_logo{
    height: 50px;
    width: 50px;
    position: absolute;
    margin-top: -60px;
    margin-left: 20px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 0px #919191;
    
}