.nav_logo{
    height: 70px;
    width: 130px;
    margin-left:340px;
}

.bussiness{
    margin-top: 60px;
    margin-left:-80px;
    font-size: 17px;
    font-family: sans-serif;
    position: absolute;
}

.info_div{
    background-color: white;
    height: 300px;
    width: 700px;
    margin-left: 420px;
    margin-top: 40px;
    box-shadow: 0px 0px 10px 0px #919191;
    border-radius: 5px;
    border: none;
}

.kitchen_heading{
    font-size: 25px;
    font-family: sans-serif;
    text-align: center; 
    margin-top: 30px;  
}

.info_add{
    color: #919191;
    position: absolute;
    margin-top: -25px;
    font-size: 10px;
    margin-left: 215px;
}

.tick1{
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: 50px;
}

.tick_1_info{
    margin-top: -33px;
    position: absolute;
    margin-left: 90px;
}

.tick2{
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: 320px;
}

.tick_2_info{
    margin-top: -33px;
    position: absolute;
    margin-left: 450px;
}

.tick3{
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: 50px;
}

.tick_3_info{
    margin-top: -33px;
    position: absolute;
    margin-left: 90px;
}

.tick4{
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: 320px;
}

.tick_4_info{
    margin-top: -33px;
    position: absolute;
    margin-left: 450px;
}

.tick5{
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: 50px;
}

.tick_5_info{
    margin-top: -33px;
    position: absolute;
    margin-left: 90px;
}

.tick6{
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: 320px;
}

.tick_6_info{
    margin-top: -33px;
    position: absolute;
    margin-left: 450px;
}

.start_div{
 width: 61%;
 margin-top: 50px;
 height: 130px;
 margin-left: 300px;
 border-radius: 5px;
 text-align: center;
}

.inside_div{
    font-size: 40px;
}

.click_here{
    height: 40px;
    width: 100px;
    background-color:#0d6cfd;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    cursor:pointer;
}

.heading_div{
    font-size: 35px;
    position: absolute;
    margin-top: 80px;
    margin-left: 620px;
}

.bg_img_2{
    margin-top: 50px;
    width: 101%;
    margin-left: -8px;
}

.first_div{
    background-color:white;
    height: 330px;
    width: 250px;
    border-radius: 10px;
    position: absolute;
    margin-top: -200px;
    margin-left: 320px;
    box-shadow: 0px 0px 10px 0px #919191;
}

.second_div{
    background-color:white;
    height: 330px;
    width: 250px;
    border-radius: 10px;
    position: absolute;
    margin-top: -200px;
    margin-left: 620px;
    box-shadow: 0px 0px 10px 0px #919191;
}

.third_div{
    background-color:white;
    height: 330px;
    width: 250px;
    border-radius: 10px;
    position: absolute;
    margin-top: -200px;
    margin-left: 920px;
    box-shadow: 0px 0px 10px 0px #919191;
}

.steps{
   margin-top: 20px;
   margin-left: 100px;
}

.step_head{
    font-size: 30px;
    margin-left: 80px;  
    margin-top: 20px;
    position: absolute;
}

.sub_head{
    margin-top: 50px;
    position: absolute;
    font-size: 15px;
    margin-left: 4px;
    text-align: center;
}

.about{
    position: absolute;
    color: #919191;
    font-size: 15px;
    margin-top: 70px;
    text-align: center;
}

