.whole_div_subscription{
    margin-top: 40px;
    height: 1000px;
    box-shadow: 0px 0px 10px 0px #919191;
    margin-left: 250px;
    border-radius: 30px;
    width: 1000px;
    background-color: white;
    position:static;
}

#homeicon{
    height: 25px;
    width: 25px;
    margin-left: 1200px;
    margin-top: 10px;
    position: absolute;
    cursor: pointer;
}

.sub_img{
    margin-top: 20px;
    margin-left: 20px;
}

.heading{
    margin-left: 195px;
    font-family:sans-serif;
    margin-top: 80px;
    font-size: 40px;
    position: absolute;
}


.whole_sub_form{
    font-family: sans-serif;
}

.required_symbol{
    color: red;
}

.name{
    margin-top: -780px;
    margin-left: 300px;
    position: absolute  ;
    color: #2e2e2e;
    font-family:sans-serif  ;
    font-size: 17px;
}

.input_user1{
    position: absolute;
    margin-left: 300px;
    margin-top: -750px;
    width: 380px;
    height: 38px;
    padding: 8px 2px 8px 14px;
    border-radius: 12px;
    border: solid 1px #dadada;
    background-color: #fff;
    font-size: 16px;
    padding-top: 10px;
    font-family: 'Inter-Regular'
}

.ph_num{
    margin-top: -805px;
    margin-left: 780px;
    position: absolute;
    color: #2e2e2e;
    font-family:sans-serif  ;
    font-size: 17px;
}

.input_user2{
    position: absolute;
    margin-left: 780px;
    margin-top: -775px;
    width: 380px;
    height: 38px;
    padding: 8px 2px 8px 14px;
    border-radius: 12px;
    border: solid 1px #dadada;
    background-color: #fff;
    font-size: 16px;
    padding-top: 10px;
    font-family: 'Inter-Regular'
}

.mail_id{
    margin-top: -720px;
    margin-left: 300px;
    position: absolute;
    color: #2e2e2e;
    font-family:sans-serif  ;
    font-size: 17px;
}
.input_user3{
    position: absolute;
    margin-left: 300px;
    margin-top: -690px;
    width: 865px;
    height: 38px;
    padding: 8px 2px 8px 14px;
    border-radius: 12px;
    border: solid 1px #dadada;
    background-color: #fff;
    font-size: 16px;
    padding-top: 10px;
    font-family: 'Inter-Regular'
}

.persons_subs{
    margin-top: -635px;
    margin-left: 300px;
    position: absolute;
    color: #2e2e2e;
    font-family:sans-serif  ;
    font-size: 17px;
}

.input_user4{
    position: absolute;
    margin-left: 300px;
    margin-top: -605px;
    width: 380px;
    height: 38px;
    padding: 8px 2px 8px 14px;
    border-radius: 12px;
    border: solid 1px #dadada;
    background-color: #fff;
    font-size: 16px;
    padding-top: 10px;
    font-family: 'Inter-Regular'
}

.location{
    margin-top: -660px;
    margin-left: 780px;
    position: absolute;
    color: #2e2e2e;
    font-family:sans-serif  ;
    font-size: 17px;
}

.input_user5{
    position: absolute;
    margin-left: 780px;
    margin-top: -630px;
    width: 380px;
    height: 38px;
    padding: 8px 2px 8px 14px;
    border-radius: 12px;
    border: solid 1px #dadada;
    background-color: #fff;
    font-size: 16px;
    padding-top: 10px;
    font-family: 'Inter-Regular'
}

.address{
    margin-top: -570px;
    margin-left: 300px;
    position: absolute;
    color: #2e2e2e;
    font-family:sans-serif  ;
    font-size: 17px;
}

.input_user6{
    position: absolute;
    margin-left: 300px;
    margin-top: -530px;
    width: 865px;
    height: 100px;
    border-radius: 12px;
    border: solid 1px #dadada;
    padding: 8px 2px 8px 14px;
    background-color: #fff;
    font-size: 16px;
    padding-top: -100px;
    font-family: 'Inter-Regular'
}

.menu_preference{
    margin-top: -420px;
    margin-left: 300px;
    position: absolute;
    color: #2e2e2e;
    font-family:sans-serif  ;
    font-size: 17px;
}

#menu_preference{
    position: absolute;
    margin-left: 300px;
    margin-top: -395px;
    width: 380px;
    height: 58px;
    border-radius: 12px;
    border: solid 1px #dadada;
    padding: 8px 2px 8px 14px;
    background-color: #fff;
    font-size: 16px;
    padding-top: -100px;
    font-family: 'Inter-Regular'
}

.form_check_box{
    margin-top: -380px;
    margin-left: 780px;
    position: absolute;
    font-family:sans-serif  ;
    font-size: 17px;
    
}

.check_box{
    color: #2e2e2e;
    font-family:sans-serif  ;
    font-size: 17px;
}

.subscription_type{
    margin-top: -320px;
    margin-left: 300px;
    position: absolute;
    color: #2e2e2e;
    font-family:sans-serif  ;
    font-size: 17px;
}

#subscription_type{
    margin-left: 300px;
    margin-top: -290px;
    position: absolute;
    width: 380px;
    height: 58px;
    border-radius: 12px;
    border: solid 1px #dadada;
    padding: 8px 2px 8px 14px;
    background-color: #fff;
    font-size: 16px;
    padding-top: -100px;
    font-family: 'Inter-Regular'
}

.price_expectation{
    margin-top: -320px;
    margin-left: 780px;
    position: absolute;
    color: #2e2e2e;
    font-family:sans-serif  ;
    font-size: 17px;   
}

.input_user11{
    position: absolute;
    margin-left: 780px;
    margin-top: -290px;
    width: 380px;
    height: 38px;
    padding: 8px 2px 8px 14px;
    border-radius: 12px;
    border: solid 1px #dadada;
    background-color: #fff;
    font-size: 16px;
    padding-top: 10px;
    font-family: 'Inter-Regular'
}

.signupbttn{
    position: absolute;
    height: 40px;
    width: 150px;
    margin-top: -200px;
    margin-left: 670px;
    background-color:#0d6cfd;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.inr{
    margin-top: -288px;
    height: 55px;
    width: 50px;
    border-radius: 7px;
    border: none;
    margin-left: 1128px;
    position: absolute;
    color: #2e2e2e;
    font-family:sans-serif  ;
    font-size: 17px;   
}
