// Place all the styles related to the Suvaicious controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
   font-family: 'Inter', sans-serif;
   font-family: 'Poppins', sans-serif;
   scroll-behavior: smooth;
}

.nav_bar {
     margin-left: 63%;
     font-size: 20px;
     list-style: none;
     display: flex;
 }

 .nav_bar li{
     margin-left: 5%;
     text-decoration: none;
     font-weight: 400;
     color: black;
 }

 .nav_bar li a{
     text-decoration: none;
     color: black;
 }

 .nav_bar li a:hover{
     color: #EC652B;
 }


.logo{
     margin-left: 745px;
     margin-top: -20px;
}

.slogan{
     margin-left: 1090px;
     font-size: 30px;
     margin-top: -60px;
}

.slogan2{
     color: #EC652B;
     margin-left: 5px;
}

.quotation{
     font-size: 30px;
     color: #EC652B;
}

.phrase{
     margin-left: 800px;
     font-size: 20px;
     color: #919191;
}

.login{
     margin-left: 950px;
     border: none;
     background-color: #0d6efd;
     color: white;
     height: 40px;
     width: 100px;
     font-size: 18px;
     border-radius: 5px;
     cursor: pointer;
}

.restaurant_button{
     margin-left: 30px;
     height: 40px;
     width: 200px; 
     background-color:#EC652B ;
     border: none;
     color: white;
     font-size: 18px;
     border-radius: 5px;
     cursor: pointer;
}

#buyer_heading{
     text-align: center;
     font-size: 50px;
     margin-top: 260px;
     
}

.buyer_logo{
     height: 50px;
     width: 50px;
}

.buyer_phrase{
     text-align: center;
     font-size: 30px;
}

.buyers_video{
     margin-top: -510px;
     margin-left: 60px;
     position: absolute;
}

.buyer_1{
     font-size: 15px;
     height:80px;
     width:500px;
     border: 2px solid black;
     box-shadow: 0px 0px 10px 7px #919191;
     border: 2px solid #919191 ;
     border-radius: 5px;
     margin-top: -350px;
     margin-left: 100px;
}

.buyer_point_1{
     padding-top: 20px;
     margin-left: 60px;
}

.buyer_image1{
     margin-top: -330px;
     margin-left: -630px;
     position: absolute;
}


.buyer_2{
     font-size: 15px;
     height:80px;
     width:500px;
     border: 2px solid black;
     box-shadow: 0px 0px 10px 7px #919191;
     border: 2px solid #919191 ;
     border-radius: 5px;
     margin-top: 50px;
     margin-left: 100px;
}

.buyer_point_2{
     padding-top: 50px;
     margin-left: 10px;
}

.buyer_image2{
     margin-top: -270px;
     margin-left: -630px;
     position: absolute;
}

.buyer_3{
     font-size: 15px;
     height:80px;
     width:500px;
     border: 2px solid black;
     box-shadow: 0px 0px 10px 7px #919191;
     border: 2px solid #919191 ;
     border-radius: 5px;
     margin-top: 50px;
     margin-left: 100px;
}

.buyer_point_3{
     padding-bottom: 70px;
     margin-left: 40px;
}

.buyer_image3{
     margin-top: -217px;
     margin-left: -630px;
     position: absolute;
}

.buyer_div_blocks{
     margin-top: 400px;
}

.registration_heading{
     text-align: center;
     font-size: 40px;
     color: #EC652B;
}

.subscription_button{
     height: 70px;
     width: 800px;
     margin-top: 20px;
     margin-left: 20px;
     color: white;
     font-size: 30px;
     background-color: #EC652B;
     border: none;
     border-radius: 5px;
     cursor:pointer
}

.buyers_testimonial{
     text-align: center;
     font-size: 50px;
     margin-top: 40px;
}




// .buyers_div{
//      margin-top: 80px;
//      height: 450px;
//      width: 97%;
//      margin-left: 25px;
//      border: 1px solid #919191;
//      border-radius: 10px;
//      box-shadow:0px 0px 50px 20px #919191;
// }

// .buyers_image_div{
//      height: 200px;
//      width: 300px;

// }

// .buyer_image{
//      height: 300px;
//      width: 300px;
//      margin-top: 70px;
//      margin-left: 200px;
//      border: 3px solid black;
//      border-radius: 10px;
// }

// .about_buyers{
//      margin-left: 650px;
//      margin-top: -120px;
//      font-size: 24px;
// }

#seller_heading{
     text-align: center;
     font-size: 50px;
     margin-top: 100px;   
}

.seller_logo{
     height: 50px;
     width: 50px;
     margin-top: 20px;
}

.seller_div_blocks{
     margin-top: 300px;
}

.seller_1{
     font-size: 15px;
     height:80px;
     width:500px;
     border: 2px solid black;
     box-shadow: 0px 0px 10px 7px #919191;
     border: 2px solid #919191 ;
     border-radius: 5px;
     margin-top: -270px;
     margin-left: 900px;
}

.seller_point_1{
     padding-top: 20px;
     margin-left: 60px;
}

.seller_image1{
     margin-left: 165px;
     margin-top: -330px;
     position: absolute;

}

.seller_2{
     font-size: 15px;
     height:80px;
     width:500px;
     border: 2px solid black;
     box-shadow: 0px 0px 10px 7px #919191;
     border: 2px solid #919191 ;
     border-radius: 5px;
     margin-top: 50px;
     margin-left: 900px;

}

.seller_point_2{
     padding-top: 20px;
     margin-left: -120px;
}

.seller_image2{
     margin-left: 170px;
     margin-top: -270px;
     position: absolute;
}

.seller_3{
     font-size: 15px;
     height:80px;
     width:500px;
     border: 2px solid black;
     box-shadow: 0px 0px 10px 7px #919191;
     border: 2px solid #919191 ;
     border-radius: 5px;
     margin-top: 50px;
     margin-left: 900px;
}

.seller_point_3{
     padding-top: 20px;
     margin-left: -15px;
}

.seller_image3{
     margin-left: 170px;
     margin-top: -210px;
     position: absolute;
}

.seller_video{
     margin-top: -510px;
     margin-left: -660px;
     position: absolute;
}