.form_heading_sign_up{
   margin-left:780px;
   margin-top: -520px; 
   font-size: 30px;
   font-family: sans-serif;
   position: absolute;
}


.login_form_sign_up{
    margin-left: 780px;
    margin-top: -500px;
    position: absolute;
}

.signUpBtn{
    height: 40px;
    width: 100px;
    margin-top: -10px;
    margin-left: 140px;
    background-color:#0d6cfd;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    position: absolute;
}

#left_arrow{
    height: 25px;
    width: 25px;
    margin-left: 760px;
    margin-top: -600px;
    position: absolute;
    cursor: pointer;
}


// .form_heading_sign_up{
//     margin-left:780px;
//     margin-top: -520px; 
//     font-size: 30px;
//     font-family: sans-serif;
//     position: absolute;
//  }
 
 
//  .login_form_sign_up{
//      margin-left: 780px;
//      margin-top: -500px;
//      position: absolute;
//  }
 
//  .signUpBtn{
//      height: 40px;
//      width: 100px;
//      margin-top: 50px;
//      margin-left: 140px;
//      background-color:#0d6cfd;
//      color: white;
//      font-size: 14px;
//      border: none;
//      border-radius: 5px;
//      text-align: center;
//  }
 
//  #left_arrow{
//      height: 25px;
//      width: 25px;
//      margin-left: 760px;
//      margin-top: -600px;
//      position: absolute;
//      cursor: pointer;
//  }
//  #register-div{
//      // display: none;
//  }