<ul class="nav_bar">
  <li><a href="home" class="home">Home</a></li>
  <li><a href="Index.html" class="abouts">Kitchen</a></li>
  <li><a href="home#buyer_heading" id="log" class="abouts">Buyers</a></li>
  <li><a href="home#seller_heading" id="log" class="abouts">Sellers</a></li>
  <li><a href="about_us" id="log" class="abouts">About us</a></li>
</ul>



 <a href="home"><%=image_tag 's_logo.png' ,alt:'s_logo', class: 's_logo' %> </a>


<span class="about_us_heading">About us</span>

<%=image_tag 'about_us_img1' ,alt:'about_us', class: 'about_us_img' %>


<div class="about_us_div" >
  <p class="about_suvaicious">
     <span class="design">"Missing home food? </span>You have come to the right place. Suvaicious is a
    platform where we connect homemakers and hungry customers for an amazing
    culinary experience. At Suvaicious, we ensure that high quality home cooked
    meals are delivered to you in a timely and efficient manner. We source our
    food from the best home chefs in Chennai who are looking to put their
    cooking skills to good use while earning some money too. We also guarantee
    that the food is delivered to your doorstep. Check out our website for more
    details… Bon Appetit!!! <span class="design">"</span>
  </p>
   <a href="home"><button class="check_it">Check it</button> </a>
  </div>


  