<ul class="nav_bar">
  <li><a href="home" class="home">Home</a></li>
  <li><a href="Index.html" class="about">Shops</a></li>
  <li><a href="home#buyer_heading" id="log" class="about">Buyers</a></li>
  <li><a href="home#seller_heading" id="log" class="about">Sellers</a></li>
  <li><a href="about_us" id="log" class="about">About us</a></li>
</ul>